body{
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);    
}
p{
    margin-bottom: 0;
}
textarea {
    width: 55em;
    height: 8em;
    background: #f8f8f8;
}
.inputContainer {
    display: flex;
    justify-content: space-between;
    width: 14em;
    padding: 0 0 0.2em 0;
}
.inputValue input {
    background: #f8f8f8;
}
#myInfoContainer {
    display: flex;
    flex-direction: column;
}   
#submitContainer input {
    background: #f8f8f8;
    margin: 2em 0 0 0;
}
#submitContainer input:hover {
    background: #ccc;
}
::placeholder {
    opacity: 0.5;
}