<!--AmCharts SCRIPTS-->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    
<!--Downloaded Country API JS object-->
    <script type="text/javascript" src="JS/countryapi.js"></script>

<!--PERSONAL SCRIPTS-->
    <script type="text/javascript" src="JS/map.js"></script>
    <script type="text/javascript" src="JS/forms.js"></script>
    
</body>
    
</html>